serverInfo:
  name: "{{ app_name }}"
  description: {{ app_description }}
  instructions: {{ instructions }}
  version: "1.1.0"
  websiteUrl: "{{ app_website }}"
  arkbPerArka: "{{ arka_per_arkb_rate }}"
  inputSchema: >
    {
      "type": "object",
      "properties": {
        "recipientArkbAddress": {
          "type": "string",
          "title": "Recipient {{ arkb_unit }} Address",
          "description": "Enter the {{ arkb_unit }} address to receive transfers."
        }
      },
      "required": [
        "recipientArkbAddress"
      ]
    }
  outputSchema: >
    {
      "type": "object",
      "properties": {
        "depositArkaAddress": {
          "type": "string"
        },
        "recipientArkbAddress": {
          "type": "string"
        },
        "transfers": {
          "type": "array",
          "properties": {
            "arkAmount": {
              "type": "string"
            },
            "arkbPerArka": {
              "type": "string"
            },
            "arkaFlatFee": {
              "type": "string"
            },
            "arkaPercentFee": {
              "type": "string"
            },
            "arkaTotalFee": {
              "type": "string"
            },
            "arkbSendAmount": {
              "type": "string"
            },
            "arkbTransactionId": {
              "type": "string"
            },
            "createdAt": {
              "type": "string"
            }
          }
        }
      }
    }

spring:
  datasource:
    platform: "postgres"
    url: "jdbc:postgresql://{{ database_host }}:{{ database_port }}/{{database_name}}"
    username: "{{database_user}}"
    password: "{{database_password}}"
  jpa:
    hibernate:
      ddl-auto: "validate"

arkaNetworkConfigPath: "file:/etc/opt/{{ app_service_name }}/arka-network.yml"
arkbNetworkConfigPath: "file:/etc/opt/{{ app_service_name }}/arkb-network.yml"

arkaUnit: "{{ arka_unit }}"
arkbUnit: "{{ arkb_unit }}"

fees:
  arkaFlatFee: {{ arka_flat_fee }}
  arkaPercentFee: {{ arka_percent_fee }}

arkbPerArka: {{ arka_per_arkb_rate }}

server:
  port: {{ app_port }}

arkaListener:
  url: {{ arka_listener_url }}

arkaEventCallbackUrl: http://{{ domain_name }}:{{ app_port }}/arkaEvents

serviceArkbAccount:
  address: {{ service_arkb_address }}
  passphrase: {{ service_arkb_passphrase }}
