[Unit]
Description=Aces Listener Ark

[Service]
Restart=always
ExecStart=/usr/bin/java -Xms64m -Xmx128m -jar /opt/aces-listener-ark/bin/aces-listener-ark.jar \
  --spring.config.location=file:/etc/opt/aces-listener-ark/application.yml

[Install]
WantedBy=multi-user.target
