[Unit]
Description=geth rikeby testnet

[Service]
Restart=always
ExecStart=/usr/bin/geth --rinkeby --rpc --rpcaddr=127.0.0.1 --rpcapi 'web3,eth,personal' --rpccorsdomain="*" \
--syncmode "{{ ethereum_sync_mode }}" --datadir={{ ethereum_data_directory }} --syncmode "fast" --cache=1024

[Install]
WantedBy=multi-user.target
