[Unit]
Description=geth ropstein testnet

[Service]
Restart=always
ExecStart=/usr/bin/geth --testnet --rpc --rpcaddr=127.0.0.1 --rpcapi 'web3,eth,personal' --rpccorsdomain="*" \
--datadir={{ ethereum_data_directory }} --syncmode "fast" --cache=1024

[Install]
WantedBy=multi-user.target
