export const environment = {
    production: true,
    cookieDomain: '{{ domain_name }}',
    useSecureCookie: true,
    apiEndpoint: '{{ base_url }}/api',
    recaptchaSiteKey: '{{ recaptcha_site_key }}'
};