[Unit]
Description={{ app_name }}

[Service]
Restart=always
ExecStart=/usr/bin/java -Xms64m -Xmx128m -jar /opt/{{ app_service_name }}/bin/aces-listener-ark.jar \
  --spring.config.location=file:/etc/opt/{{ app_service_name }}/application.yml

[Install]
WantedBy=multi-user.target
