[Unit]
Description={{ app_service_name }} application

[Service]
Restart=always
ExecStart=/usr/bin/java -Xms64m -Xmx128m -jar /opt/{{ app_service_name }}/bin/{{ app_service_name }}.jar \
  --spring.config.location=file:/etc/opt/{{ app_service_name }}/application.yml

[Install]
WantedBy=multi-user.target
