serverInfo:
  name: "{{ app_name }}"
  description: "{{ app_description }}"
  version: "1.0.0"
  websiteUrl: "{{ app_website_url }}"

arkNetworkConfigPath: "file:/etc/opt/{{ app_service_name}}/ark-network.yml"

spring:
  datasource:
    url: "jdbc:h2:/opt/{{ app_service_name }}/aces-listener-ark.db;DB_CLOSE_ON_EXIT=FALSE;AUTO_RECONNECT=TRUE"
    driver-class-name: "org.h2.Driver"
  jpa:
    hibernate:
      ddl-auto: "create-drop"

scanTransactionDepth: 500

server:
  port: {{ app_port }}

arkAuth:
  requireAuth: false

logging:
  level:
    com.arkaces.aces_listener_ark.ArkEventListener: ERROR
