serverInfo:
  name: "{{ app_name }}"
  description: "{{ app_description }}"
  version: "1.0.0"
  websiteUrl: "{{ app_website_url }}"

arkNetworkConfigPath: "file:/etc/opt/{{ app_service_name}}/ark-network.yml"

spring:
  datasource:
    platform: "postgres"
    url: "jdbc:postgresql://{{ database_host }}:{{ database_port }}/{{database_name}}"
    username: "{{database_user}}"
    password: "{{database_password}}"
  jpa:
    hibernate:
      ddl-auto: "validate"

scanTransactionDepth: 500

server:
  port: {{ app_port }}

logging:
  level:
    com.arkaces.aces_listener_ark.ArkEventListener: ERROR
