[Unit]
Description=Aces Arka-Arkb Channel Service

[Service]
Restart=always
ExecStart=/usr/bin/java -Xms64m -Xmx128m -jar /opt/aces-arka-arkb-channel-service/bin/aces-arka-arkb-channel-service.jar \
  --spring.config.location=file:/etc/opt/aces-arka-arkb-channel-service/application.yml

[Install]
WantedBy=multi-user.target
